<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background: linear-gradient(to right, #90ee90,#90ee90);
      background-size: 100%;
      animation: rainbow 10s linear infinite;
    }

    @keyframes rainbow {
      0% { background-position: 0 50%; }
      100% { background-position: 100% 50%; }
    }

    /* 追加スタイル：aタグのテキストカラーを白に */
    a {
      color: white;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">ログイン画面</h1>
        {% if error != null %}
          <p style="color:red;text-align:center;">{{error}}</p>
        {% endif %}
        {% if msg != null %}
          <p style="color:blue;text-align:center;">{{msg}}</p>
        {% endif %}
        <form action="{{url_for('login')}}" method="post">
          <div class="form-group">
            <label for="username">ユーザ名:</label>
            <input type="text" name="username" class="form-control" value="{{data.user_name if data is defined else ''}}">
          </div>
          <div class="form-group">
            <label for="password">パスワード:</label>
            <input type="password" name="password" class="form-control" value="{{data.password if data is defined else ''}}">
          </div>
          <button type="submit" class="btn btn-primary btn-block">ログイン</button>
        </form>
        <br>
        <br>
        <a href="{{url_for('register_form')}}" class="btn btn-link btn-block btn-lg">新規登録</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
