<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>検索後の本一覧</title>

    <style>
        body {
            background: linear-gradient(to right, #90ee90,#90ee90);
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">検索後の本一覧</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>タイトル</th>
                <th>著者</th>
                <th>出版社</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td>{{ book[4] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{url_for('h2_back')}}" class="btn btn-secondary">TOPへ</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
