<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>本の検索</title>
</head>

<style>
    body {
        background: linear-gradient(to right, #90ee90,#90ee90);
    }
</style>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card p-4">
            <h3 class="mb-4">検索したい本のタイトルを入力してください</h3>
            <form action="{{url_for('search_book')}}" method="post">
                <div class="form-group">
                    <label for="title">タイトル:</label>
                    <input type="text" class="form-control" name="title" value="{{title}}" required>
                </div>
                <button type="submit" class="btn btn-primary">検索</button>
            </form>
            <a href="{{url_for('h2_back')}}" class="btn btn-secondary">TOPへ</a>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
